<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>我是头部2</title>
    <link rel="stylesheet" href="../public/less/base.css">
    <link rel="stylesheet" href="../public/less/common_header2.css">
    <!--引用图标字体-->
    <link rel="stylesheet" href="../assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/less/category.css">
</head>

<body>
    <div class="header">
        <a href="###" class="fl left">
        </a>
        <a href="###" class="fr right">取消</a>
        <div class="center">
            <input type="text" placeholder="进口生鲜今日三折起">
            <i class="fa fa-search"></i>
        </div>
    </div>
    <div class="c_body">
        <div class="c_left">
            <h1 class="hot active">热门推荐</h1>
            <div class="navs">
                <ul>
                    <li><a href="###">潮流女装</a></li>
                    <li><a href="###">品牌男装</a></li>
                    <li><a href="###">时尚鞋靴</a></li>
                    <li><a href="###">箱包配件</a></li>
                    <li><a href="###">家用电器</a></li>
                    <li><a href="###">家居家纺</a></li>
                    <li><a href="###">电脑办公</a></li>
                    <li><a href="###">手机数码</a></li>
                    <li><a href="###">母婴用品</a></li>
                    <li><a href="###">珠宝配件</a></li>
                    <li><a href="###">日用百货</a></li>
                </ul>
            </div>
            
        </div>
        <div class="c_right">
            <img src="../public/images/banner_03.png" alt="">
            <div class="play">
                <h1 class="active">热门分类</h1>
                <div class="all">
                    <div class="single fl">
                        <a href="###">
                            <img src="../public/images/c1.png" alt="">
                            <p>毛呢外套</p>
                        </a>
                        
                    </div>
                    <div class="single fl">
                        <a href="###">
                            <img src="../public/images/c2.png" alt="">
                            <p>毛衣</p>
                        </a>
                        
                    </div>
                    <div class="single fl">
                        <a href="###">
                            <img src="../public/images/c3.png" alt="">
                            <p>羽绒服</p>
                        </a>
                        
                    </div>
                    <div class="single fl">
                        <a href="###">
                            <img src="../public/images/c4.png" alt="">
                            <p>奶粉</p>
                        </a>
                        
                    </div>
                    <div class="single fl">
                        <a href="###">
                            <img src="../public/images/c5.png" alt="">
                            <p>坚果炒货</p>
                        </a>
                        
                    </div>
                    <div class="single fl">
                        <a href="###">
                            <img src="../public/images/c6.png" alt="">
                            <p>手机</p>
                        </a>
                        
                    </div>
                    <div class="single fl">
                        <a href="###">
                            <img src="../public/images/c7.png" alt="">
                            <p>休闲零食</p>
                        </a>
                        
                    </div>
                    <div class="single fl">
                        <a href="###">
                            <img src="../public/images/c8.png" alt="">
                            <p>葡萄酒</p>
                        </a>
                        
                    </div>
                    <div class="single fl">
                        <a href="###">
                            <img src="../public/images/c9.png" alt="">
                            <p>雪地靴</p>
                        </a>
                        
                    </div>
                    <div class="single fl">
                        <a href="###">
                            <img src="../public/images/c10.png" alt="">
                            <p>拉杆箱</p>
                        </a>
                        
                    </div>
                    <div class="single fl">
                        <a href="###">
                            <img src="../public/images/c11.png" alt="">
                            <p>粉底液</p>
                        </a>
                        
                    </div>
                    <div class="single fl">
                        <a href="###">
                            <img src="../public/images/c12.png" alt="">
                            <p>真皮包</p>
                        </a>
                        
                    </div>
                </div>

            </div>
        </div>

    </div>
    
</body>

</html>