<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>我是头部2</title>
    <link rel="stylesheet" href="../public/less/base.css">
    <link rel="stylesheet" href="../public/less/common_header2.css">
    <!--引用图标字体-->
    <link rel="stylesheet" href="../assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/less/shops.css">
    <link rel="stylesheet" href="../public/less/lists.css">
</head>

<body>
    <div class="header">
        <a href="###" class="fl left">
        </a>
        <a href="###" class="fr right">取消</a>
        <div class="center">
            <p>婚纱 ×</p>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="###"><span class="active">综合</span></a></li>
            <li><a href="###">销量</a></li>
            <li>
                <div calss="price">
                    <a href="###">价格</a>
                    <a href="###" class="up">▲</a>
                    <a href="###" class="down">▼</a>
                </div>

            </li>
            <li><a href="###">店铺</a></li>
            <li><a href="###">筛选</a></li>
        </ul>
    </nav>
    
    <section class="lists">
        <div class="product fl">
            <img src="../public/images/list-09_03.png" alt="">
            <p>高贵塔府绸抹胸长拖尾婚纱</p>
            <div class="bo">
                <i>￥899</i> <s>￥1600</s>
            </div>
        </div>
         <div class="product fl">
            <img src="../public/images/list-09_03.png" alt="">
            <p>高贵塔府绸抹胸长拖尾婚纱</p>
            <div class="bo">
                <i>￥899</i> <s>￥1600</s>
            </div>
        </div>
         <div class="product fl">
            <img src="../public/images/list-09_03.png" alt="">
            <p>高贵塔府绸抹胸长拖尾婚纱</p>
            <div class="bo">
                <i>￥899</i> <s>￥1600</s>
            </div>
        </div>
         <div class="product fl">
            <img src="../public/images/list-09_03.png" alt="">
            <p>高贵塔府绸抹胸长拖尾婚纱</p>
            <div class="bo">
                <i>￥899</i> <s>￥1600</s>
            </div>
        </div>
    </section>
</body>

</html>